* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

body{
    height: 100vh;
    background-color: #000e31;
    /* background-image: url('./images/backg.jpg'); */
    background-size: cover;
    background-position: cover;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}
/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    margin: auto;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #696868;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu_open{
    height: 240px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
    /* transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}
.dropdown_menu_open li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content{
    margin-top: 60px;
    color: #fff;
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    
}

@media (max-width: 576px) {
    .dropdown_menu_open{
        left: 2rem;
        width: unset;
    }
    
}